<form method="post" action="{{ path('cities_delete', {'id': city.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette ville?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ city.id) }}">
    <button class="btn btn-danger m-1"><i alt="Supprimer" class="fa-solid fa-trash-can" style="color: #000000;"></i></button>
</form>
