{% extends 'base.html.twig' %}

    {% block title %}
        flights - Accueil
    {% endblock %}

    {% block body %}

    <section class="container">
        <div class="row ">
            <div class="col" >
                <h1 style="display:flex; justify-content:center;">Bienvenue ! </h1>
            </div>
        </div>

       


    </section>

    {% endblock %}
